header {
  color: white;
  background: #E50068;
  margin: 100px 50px 20px;
  padding: 10px 30px;
  border: white 10px double;
  border-left-width: 20px;
  border-right-width: 20px;
  text-align:center;
}
main {
  margin: 0 auto;
  width: 800px;
}
body {
  margin: 50px;
}
.columns {
  width: 600px;
  display: flex;
}
.column {
  margin: 15px;
}
h3 {
    color:#E50068;
    font-size:18px
}
